{% if timers.has_other_pages %}
    <nav id="timers-pagination">
        <ul class="pagination justify-content-center">
            {% if timers.has_previous %}
                <li class="page-item">
                    <a class="page-link btn btn-outline-dark mb-4 text-dark" href="?timers_page={{ timers.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}
            {% for timer in timers.paginator.page_range %}
                {% if timers.number == timer %}
                    <li class="page-item active">
                        <a class="page-link btn btn-dark mb-4" href="?timers_page={{ timer }}">{{ timer }}</a>
                    </li>
                {% elif timer > timers.number|add:'-3' and timer < timers.number|add:'3' %}
                    <li class="page-item">
                        <a class="page-link btn btn-outline-dark mb-4 text-dark" href="?timers_page={{ timer }}">{{ timer }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if timers.has_next %}
                <li class="page-item">
                    <a class="page-link btn btn-outline-dark mb-4 text-dark" href="?timers_page={{ timers.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link btn btn-dark mb-4" href="#" tabindex="-1" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
