 <div class="card">
    <img src="{{ timer.author.setting.image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5><a class="card-title text-dark" href="{% url 'timer-detail' timer.id %}">{{ timer.title }}</a></h2>
      <p class="card-text">{{ timer.give_up_date|timesince }}</p>
    </div>
    <div class="card-footer">
        {% if timer.author == user %}
          <a class="text-dark" href="{% url 'timer-update' timer.id %}"><i class="fa fa-edit" aria-hidden="true"></i></a>
          <a class="text-dark" href="{% url 'timer-delete' timer.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
        {% endif %}
        <small class="text-muted mr-1 ml-1"><a class="text-dark" href="{% url 'profile' timer.author.username %}">{{ timer.author }}</a></small>

        {% if timer.private %}
            <i class="fa fa-lock" aria-hidden="true"></i>
        {% endif %}
    </div>
 </div>
