.single-post {
    max-width: 800px;
    margin: auto;
}

.article-title {
    color: #444444;
}

a.article-title:hover {
    color: #428bca;
    text-decoration: none;
}

.article-content {
    white-space: pre-line;
}

.article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
}

.article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover {
    color: #333;
    text-decoration: none;
}

.article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

.account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
}

.account-heading {
    font-size: 2.5rem;
}

.grid-container-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(420px, 0fr));
    grid-gap: 1em;
    justify-content: center;
    margin: 1em;
}

.grid-container-posts article {
    margin-bottom: 0px !important;
}

@media (max-width: 500px) {
    .grid-container-posts .article-content {
        display: none;
    }
    .article-img {
        display: none;
    }
    .article-title {
        font-size: 24px;
    }
    .grid-container-posts {
        grid-template-columns: repeat(auto-fit, minmax(300px, 0fr));
    }
    .comment-img {
        display: none;
    }
}

.media {
    margin-bottom: 10px;
    margin-top: 10px;
}
.media-comment {
    margin-bottom: 20px;
}

.tab-content {
    padding: 15px 15px;
    border: solid 1px #dddddd;
    border-top: none;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.comment-tabs {
    max-width: 500px;
    margin: auto;
}

.comment-img {
    width: 45px;
    height: 45px;
}

.nav-tabs {
    border-bottom: solid 1px #dddddd;
}

ul.nav-tabs li {
    display: inline;
}

ul.nav-tabs li > a:hover {
    text-decoration: none;
}

ul.nav-tabs li.active-tab {
    border: solid 1px #dddddd;
    border-bottom: none;
}

a:active,
a:focus {
    outline: 0;
    -moz-outline-style: none;
}

.tab-title {
    margin: 5px;
}

.tabbed {
    margin: auto;
    max-width: 500px;
}

.tabbed > input {
    display: none;
}

.tabbed > section > h1 {
    float: left;
    box-sizing: border-box;
    margin: 0;
    padding: 0.5em 0.2em 0;
    overflow: hidden;
    font-size: 1em;
    font-weight: normal;
}

.tabbed > input:first-child + section > h1 {
    padding-left: 0em;
}

.tabbed > section > h1 > label {
    display: block;
    padding: 0.4em 0.75em;
    border: 1px solid #ddd;
    border-bottom: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background: #fff;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.tabbed > section > div {
    position: relative;
    z-index: 1;
    float: right;
    box-sizing: border-box;
    width: 100%;
    margin: 2.5em 0 2em -100%;
    padding: 0.5em 0.75em;
    border: 1px solid #ddd;
    box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.0625);
    background: #fff;
}

.tabbed > input:checked + section > h1 {
    position: relative;
    z-index: 2;
}

.tabbed > input:not(:checked) + section > div {
    display: none;
}
