$color-primary: #343a40;

body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444444;
}

ul {
    margin: 0;
}

.navbar {
    background-color: $color-primary;
}

.site-header .navbar-nav .nav-link {
    color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
    font-weight: 500;
}

.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

.navbar-img {
    height: 30px;
    width: 30px;
}

.navbar-brand {
    font-size: 22px;
}

.active a.page-link,
.dropdown-menu .active {
    background-color: $color-primary !important;
    border-color: $color-primary !important;
}
