form,
.logout {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
}

// Hide crispy-form ugly asterisk
.asteriskField {
    display: none;
}

.alert-error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.h3-heading {
    text-align: center;
}
