@media (max-width: 575px) {
    .card-img-top {
        width: 100%;
        height: 30vw;
        object-fit: cover;
    }
}
@media (min-width: 576px) {
    .card-img-top {
        width: 100%;
        height: 20vw;
        object-fit: cover;
    }
}
@media (min-width: 768px) {
    .card-img-top {
        width: 100%;
        height: 15vw;
        object-fit: cover;
    }
}
@media (min-width: 1024px) {
    .card-img-top {
        width: 100%;
        height: 10vw;
        object-fit: cover;
    }
}
@media (min-width: 1280px) {
    .card-img-top {
        width: 100%;
        height: 8vw;
        object-fit: cover;
    }
}

.grid-container-timers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0fr));
    grid-gap: 1em;
    justify-content: center;
    margin: 1em;
}

.card {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.card-body,
.card-footer {
    text-align: center;
}
