{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Log In</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-lg btn-dark btn-block" type="submit">Login</button>
        </div>
        <div>
            <small class="text-muted">
                <a class="text-dark" href="{% url 'password_reset' %}">Forgot Password?</a>
            </small>
        </div>
        <div class="border-top pt-3">
            <div>
                <small class="text-muted">
                    Need An Account? <a class="ml-2 text-dark" href="{% url 'register' %}">Sign Up Now</a>
                </small>
            </div>
        </div>
    </form>
{% endblock content %}
