{% extends "main/base.html" %}
{% block content %}
    {% if timers %}
          <div class="col-md-12">
            {% if view.kwargs.username == user.username %}
                <h3 class="mb-3 h3-heading"><a class="text-dark" href="{% url 'user-timers' view.kwargs.username %}">Your Timers</a></h1>
            {% else %}
                <h3 class="mb-3 h3-heading"><a class="text-dark" href="{% url 'user-timers' view.kwargs.username %}">Timers by {{ view.kwargs.username }}</a></h1>
            {% endif %}
            <div id="timers">
                <div class="grid-container-timers">
                {% for timer in timers %}
                    {% include "timers/includes/_timer.html"%}
                {% endfor %}
                </div>
            </div>
          </div>
        {% include "timers/includes/_timerspagination.html" %}
    {% endif %}
    {% if posts %}
          <div class="col-md-12">
            {% if view.kwargs.username == user.username %}
                <h3 class="mb-3 h3-heading"><a class="text-dark" href="{% url 'user-posts' view.kwargs.username %}">Your Posts</a></h1>
            {% else %}
                <h3 class="mb-3 h3-heading"><a class="text-dark" href="{% url 'user-posts' view.kwargs.username %}">Posts by {{ view.kwargs.username }}</a></h1>
            {% endif %}
            <div id="posts">
                <div class="grid-container-posts">
                    {% for post in posts %}
                        {% include "posts/includes/_postpreview.html"%}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include "posts/includes/_postspagination.html" %}
    {% endif %}
{% endblock %}
