{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
  <form method="POST" enctype="multipart/form-data">
    <div class="media">
        <img class="rounded-circle account-img" src="{{ user.setting.image.url }}">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
    </div>
      {% csrf_token %}
      <fieldset class="form-group">
          <legend class="border-bottom mb-4">Edit Profile</legend>
          {{ u_form|crispy }}
          {{ p_form|crispy }}
      </fieldset>
      <div class="form-group">
          <button class="btn btn-lg btn-dark btn-block" type="submit">Update</button>
      </div>
      <div class="border-top pt-3">
        <small class="text-muted">
            <a class="ml-2 text-dark" href="{% url 'change_password' %}">Change Password?</a>
        </small>
      </div>
  </form>
{% endblock content %}
