{% load humanize %}
<li class="media content-section comment">
    <a href="{% url 'profile' comment.author.username %}"><img class="rounded-circle comment-img" src="{{ comment.author.setting.image.url }}"></a>
    <div class="media-body ml-2">
        <div class="article-metadata">
            <a class="mr-2 text-dark" href="{% url 'profile' comment.author.username %}">{{ comment.author }}</a>
            <small class="text-muted mr-2">{{ comment.date_posted|naturaltime }}</small>
        {% if comment.author == user %}
            <a class="text-dark" href="{% url 'comment-update' comment.id %}"><i class="fa fa-edit" aria-hidden="true"></i></a>
            <a class="text-dark" href="{% url 'comment-delete' comment.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
        {% endif %}
        </div>
      <div class="well well-lg">
          <p class="media-comment">
                {{ comment.content }}
          </p>
      </div>
    </div>
</li>
