{% if posts.has_other_pages %}
    <nav id="posts-pagination">
        <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
                <li class="page-item">
                    <a class="page-link btn btn-outline-dark mb-4 text-dark" href="?timers_page={{ posts.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
            {% endif %}
            {% for post in posts.paginator.page_range %}
                {% if posts.number == post %}
                    <li class="page-item active">
                        <a class="page-link btn btn-dark mb-4" href="?posts_page={{ post }}">{{ post }}</a>
                    </li>
                {% elif post > posts.number|add:'-3' and post < posts.number|add:'3' %}
                    <li class="page-item">
                        <a class="page-link btn btn-outline-dark mb-4 text-dark" href="?posts_page={{ post }}">{{ post }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if posts.has_next %}
                <li class="page-item">
                    <a class="page-link btn btn-outline-dark mb-4 text-dark" href="?posts_page={{ posts.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link btn btn-dark mb-4" href="#" tabindex="-1" aria-label="Previous">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
