{% load humanize %}
<article class="media content-section single-post">
  <img class="rounded-circle article-img" src="{{ post.author.setting.image.url }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2 text-dark" href="{% url 'profile' post.author.username %}">{{ post.author }}</a>
      {% if post.private %}
        <i class="fa fa-lock mr-2" aria-hidden="true"></i>
      {% endif %}
      <small class="text-muted mr-2">{{ post.date_posted|naturaltime }}</small>
      {% if post.author == user %}
        <a class="text-dark" href="{% url 'post-update' post.id %}"><i class="fa fa-edit" aria-hidden="true"></i></a>
        <a class="text-dark" href="{% url 'post-delete' post.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
      {% endif %}
    </div>
    <h2><a class="article-title text-dark" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
    <p class="article-content">{{ post.content }}</p>
  </div>
</article>
