{% load static %}
{% load pipeline %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css?ver=4.7.0">
    <link rel='shortcut icon' type='image/x-icon' href="{% static 'main/images/favicons/favicon.ico' %}"/>
    {% stylesheet 'styles' %}
    {# Django Tempus Dominus assets are included in `{{ form.media }}` #}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {{ form.media }}
    {% include "main/includes/_title.html" %}
</head>
<body>
    {% include "main/includes/_navbar.html" %}
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
          {% include "main/includes/_messages.html" %}
          {% block content %}{% endblock %}
        </div>
      </div>
      {% include "main/includes/_footer.html" %}
    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
    {% javascript 'scripts' %}
</body>
</html>
