{% extends "main/base.html" %}
{% block content %}
    {% if timers %}
          <div class="col-md-12">
            <h3 class="mb-3 h3-heading"><a class="text-dark" href="{% url 'timers-home' %}">Latest Timers</a></h1>
            <div id="timers">
                <div class="grid-container-timers">
                    {% for timer in timers %}
                        {% include "timers/includes/_timer.html"%}
                    {% endfor %}
                </div>
            </div>
          </div>
        {% include "timers/includes/_timerspagination.html" %}
    {% endif %}
    {% if posts %}
          <div class="col-md-12">
            <h3 class="mb-3 h3-heading"><a class="text-dark" href="{% url 'posts-home' %}">Latest Posts</a></h1>
            <div id="posts">
                <div class="grid-container-posts">
                    {% for post in posts %}
                        {% include "posts/includes/_postpreview.html"%}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include "posts/includes/_postspagination.html" %}
    {% endif %}
{% endblock %}
