<footer class="page-footer font-small blue pt-4 border-top">
    <div class="footer-copyright text-center py-3">Powered by <a class="mr-1 text-dark" href="https://www.djangoproject.com/" target="_blank">Django</a><i class="fa fa-code"></i></div>
</footer>
