{% extends "main/base.html" %}
{% block content %}
    {% if timers %}
          <div class="col-md-12 well">
            <h3 class="mb-3 h3-heading">Latest Timers</h1>
            <div id="timers">
                <div class="grid-container-timers">
                {% for timer in timers %}
                    {% include "timers/includes/_timer.html"%}
                {% endfor %}
                </div>
            </div>
          </div>
        {% include "timers/includes/_timerspagination.html" %}
    {% endif %}
{% endblock content %}
