{% extends "main/base.html" %}
{% block content %}
    {% if timers %}
          <div class="col-md-12 well">
            {% if view.kwargs.username == user.username %}
                <h3 class="mb-3 h3-heading">Your Timers</h1>
            {% else %}
                <h3 class="mb-3 h3-heading">Timers by {{ view.kwargs.username }}</h1>
            {% endif %}
            <div id="timers">
                <div class="grid-container-timers">
                {% for timer in timers %}
                    {% include "timers/includes/_timer.html"%}
                {% endfor %}
                </div>
            </div>
          </div>
        {% include "timers/includes/_timerspagination.html" %}
    {% endif %}
{% endblock content %}
