{% extends "main/base.html" %}
{% block content %}
    {% if posts %}
        <div class="col-md-12 well">
            <h3 class="mb-3 h3-heading">Latest Posts</h1>
            <div id="posts">
                <div class="grid-container-posts">
                    {% for post in posts %}
                        {% include "posts/includes/_postpreview.html"%}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include "posts/includes/_postspagination.html" %}
    {% endif %}
{% endblock content %}
