{% extends "main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include "posts/includes/_singlepost.html"%}
{% if comments %}
    {% if user.is_authenticated %}
    <div class="tabbed">

      <input name="tabbed" id="tabbed1" type="radio" checked>
      <section>
        <h1>
          <label for="tabbed1">Comments</label>
        </h1>
        <div>
            {% for comment in comments %}
              {% include "posts/includes/_comment.html" %}
            {% endfor %}
        </div>
      </section>

      <input name="tabbed" id="tabbed2" type="radio">
      <section>
        <h1>
          <label for="tabbed2">Add a comment</label>
        </h1>
        <div>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group mt-3">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-lg btn-dark btn-block" type="submit">Post</button>
                </div>
            </form>
        </div>
      </section>
    </div>
    {% else  %}
    <div class="tabbed">
      <input name="tabbed" id="tabbed1" type="radio" checked>
      <section>
        <h1>
          <label for="tabbed1">Comments</label>
        </h1>
        <div>
            {% for comment in comments %}
              {% include "posts/includes/_comment.html" %}
            {% endfor %}
        </div>
      </section>
    </div>
    {% endif %}
{% else %}
    {% if user.is_authenticated %}
    <div class="tabbed">
      <input name="tabbed" id="tabbed1" type="radio" checked>
      <section>
        <h1>
          <label for="tabbed1">Add a comment</label>
        </h1>
        <div>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group mt-3">
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-lg btn-dark btn-block" type="submit">Post</button>
                </div>
            </form>
        </div>
      </section>
    </div>
    {% endif %}
{% endif %}
{% endblock content %}
