{% extends "main/base.html" %}
{% block content %}
    {% if posts %}
        <div class="col-md-12 well">
            {% if view.kwargs.username == user.username %}
                <h3 class="mb-3 h3-heading">Your Posts</h1>
            {% else %}
                <h3 class="mb-3 h3-heading">Posts by {{ view.kwargs.username }}</h1>
            {% endif %}
            <div id="posts">
                <div class="grid-container-posts">
                    {% for post in posts %}
                        {% include "posts/includes/_postpreview.html"%}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% include "posts/includes/_postspagination.html" %}
    {% endif %}
{% endblock content %}
